body {
  overflow-x: hidden;
  background-image: url('../images/fine.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: #ffffff;
  padding: 15px 0 !important;
  border-bottom: 1px solid #fff !important;
  box-shadow: 2px 2px 8px grey;
}

footer a {
  text-decoration: none !important;
  color: #fff !important;
}

.form-section {
  margin-top: 40px;
}

h5 {
  padding-bottom: 5px;
}
.warning-btn {
  position: absolute;
  top: -30%;
  left: 40%;
  font-weight: bold;
}

#form {
  background: #fff;
  opacity: 0.9;
  padding: 30px 30px 10px 30px;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 8px #343a40;
  border-radius: 10px;
}

.warning {
  padding: 20px 20px;
  border: 1px solid #cccccc;
}

img {
  position: absolute;
  top: 84%;
  right: 12%;
  cursor: pointer;
}

.warning-section {
  margin-top: 100px;
}

input {
  background: #fff !important;
  border: 1px solid #cccccc !important;
}

input:focus {
  outline: none !important;
}

.data {
  font-size: 15px !important;
}

footer {
  padding: 0 !important;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 26px;
  }

  .register {
    margin-right: 10px;
  }

  .copy p {
    font-size: 12px;
  }
}
